<h1>Other Student Orgs</h1>
<ul>
  <li><a href="http://cics.umass.edu/~women">CS Women</a>
    <br/>
    <small>The women's group at CICS organizes monthly lunches with speakers from academia and industry. They have also run a Technical Workshop Series, organized mentoring opportunities, and work with the new student committee to run the CS Women recruiting dinner.
    </small>
  </li>
  <li><a href="http://social.cs.umass.edu">Social</a>
    <br/>
    <small>The social committee organizes social events for CICS graduate students, including libation station rotation, game night, and the new student party.</small>
  </li>
  <li><a href="http://www.geouaw.org/">GEO</a>
    <br/>
    <small>
      CICS students on qualified assistantships are eligible to be members of our chapter of the UAW: the Graduate Employee Organization. The department of computer science may have up to 6 stewards.
    </small>
  </li>
  <li>
    <a href="http://blogs.umass.edu/gss/">GSS</a>
    <br/>
    <small>
      CICS may send two gradaute students as senators to the Graduate Student Senate. 
    </small>
</ul>

<h1>Links</h1>
<ul>
  <li><a href="https://twiki.cs.umass.edu/bin/view/Grads/WebHome">CICS Grad Student Wiki</a></li>
  <li><a href="https://mailman.cs.umass.edu/mailman/listinfo">Mailing Lists</a></li>
</ul>
