<div class="sidebar well">
{{ site.description }}
</div>

<div class="sidebar well">
    <h1>Current GradReps</h1>
    <table>
      {% for gr in site.current_gradreps %}
      <tr>
	<td><img src="{{ gr.image }}" style="max-width:64px; border:solid"></td>
	<td>
	  <ul style="list-style:none">
	    <li><a href="{{ site.baseurl }}{{ gr.url }}">{{ gr.name }}</a></li>
	    <li>Term: {{ gr.term }}</li>
	    <li>Lab: <a href="{{ site.baseurl }}{{ gr.laburl }}">{{ gr.lab }}</a></li>
	</td>
      </tr>
      {% endfor %}
    </table>
</div>

<div class="sidebar well">
{% include links-list.html %}
</div>
